<header class="app-header">
    <mat-toolbar class="header-toolbar">
      <a [routerLink]="'/'">
        <img src="assets/imagens/logo-header.png" alt="Logo Sonho Meu" class="logo" />
      </a>
  
      <span class="spacer"></span>
  
       <!-- Botão de menu hambúrguer responsivo -->
      <button mat-icon-button (click)="menuAberto = !menuAberto" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
  
      <!-- Menu responsivo -->
      <div class="menu-opcoes" [class.aberto]="menuAberto">
        <!--
        <a 
          mat-icon-button
          href="https://wa.me/5585996270455" 
          target="_blank"
          rel="noopener"
          aria-label="WhatsApp"
        >
          <img src="assets/icones/whatsapp.png" alt="Ícone do whatsapp" />
        </a>
        
        <a
          mat-icon-button
          href="https://www.instagram.com/sonhomeulojaonline"
          target="_blank"
          rel="noopener"
          aria-label="Instagram"
        >
          <img src="assets/icones/instagram.png" alt="Ícone do instagram" />
        </a>
        -->

        <button *ngIf="!isLoggedIn()" mat-button (click)="goToRegister()">
          <mat-icon>person_add</mat-icon> CADASTRE-SE
        </button>
  
        <button *ngIf="!isLoggedIn()" mat-button (click)="goToLogin()">
          <mat-icon>login</mat-icon> LOGIN
        </button>
  
        <button *ngIf="isLoggedIn()" mat-button [routerLink]="'/carrinho'">
          <mat-icon>shopping_cart</mat-icon>
          Carrinho
        </button>
  
        <button *ngIf="isLoggedIn()" mat-button (click)="logout()">
          <mat-icon>logout</mat-icon> 
          SAIR
        </button>

        <span *ngIf="isLoggedIn()" class="user-welcome">
          Bem-vindo(a), {{ userName }}!
        </span>

      </div>
    </mat-toolbar>
  </header>
  