<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" required type="email" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="password" name="password" required type="password" />
        </mat-form-field>

        <div class="button-group">
            <button mat-raised-button color="primary" type="submit">Entrar</button>
            <button mat-raised-button color="primary" type="button" (click)="goToRegister()">Não tem login, Cadastre-se</button>
        </div>       
    </form>
</div>
  