.app-footer {
    background-color: rgb(146, 50, 224);
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 40px;
        }
        ul {
            padding: 0;
            list-style: none;
            &.socials {
                li {
                text-align: center;
                }
            }
        }
    }

    .formas-pagamento {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 8px;
            color: #fff; // ou ajuste para o seu tema
            font-size: 0.95rem;
        }

        .icones-pagamento {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 12px;
            margin-top: 6px;

            img {
                width: 50px;
                height: auto;
                background: white;
                padding: 4px;
                border-radius: 6px;
            }
        }
    }

}