<footer class="app-footer">
  <app-container>
    <div class="footer-content">
      <!-- Coluna 1 -->
      <div class="footer-col">
        <img [routerLink]="'/'" src="assets/imagens/logo-footer.png" alt="Logo" class="footer-logo" />
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>© Iuri Petrola 2025 · Todos os direitos reservados</p>
      </div>

      <!-- Coluna 2 -->
      <div class="footer-col">
        <p><strong>Formas de pagamento:</strong></p>
        <p>Crédito, Débito ou Pix</p>
        <div class="icones-pagamento">
          <img src="assets/imagens/visa.png" />
          <img src="assets/imagens/mastercard.png" />
          <img src="assets/imagens/pix.png" />
          <!--<img src="assets/imagens/qrcode.png" (click)="abrirPixModal()" style="cursor: pointer;" /> -->
        </div>
      </div>

      <!-- Coluna 3 -->
      <div class="footer-col">
        <p><strong>Conheça nossas redes sociais</strong></p>
        <!--
        <a href="https://www.facebook.com/iurielucy" target="_blank">
          <img src="assets/icones/facebook.png" />
        </a>
        -->
        <a href="https://www.instagram.com/sonhomeulojaonline" target="_blank">
          <img src="assets/icones/instagram.png" />
        </a>
        <a href="https://www.tiktok.com/@sonhomeu.loja?_t=ZM-8xTcXpLdfcr&_r=1" target="_blank">
          <img src="assets/icones/tiktok.png" />
        </a>
      </div>
    </div>
  </app-container>
</footer>